# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/vs2015/win32/*.db
/*.ctm
/vs2015/win32/Debug/*.pdb
Debug

dzm_log.txt

test
dzm_win32_v01-alpha.zip
dzm
dzm_log.ctm
ctime

.idea
